/* Components */
@import url("../components/btn.css");
@import url("../components/card.css");

.project {
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
  padding-inline: 20px;
}

.grid-flow {
  display: grid;
}

/*-----------------------------------*\
  #TABS
\*-----------------------------------*/

.tab-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--jet_a10);
  margin-bottom: 2rem;
  position: relative;
}

.tab-box .tab-btn {
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  color: var(--eerie-black);
  background: none;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
}

.tab-btn.active {
  color: var(--pink-accent);
  font-weight: var(--fw-600);
}

.line {
  position: absolute;
  top: 41px;
  left: 17px;
  width: 80px;
  height: 4px;
  border-radius: 10px;
  background-color: var(--pink-accent);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 575px) {
  .line {
    left: 48px;
  }
}

@media (min-width: 768px) {
  .line {
    left: 78px;
  }
}

@media (min-width: 992px) {
  .line {
    left: 110px;
  }
}

@media (min-width: 1200px) {
  .line {
    left: 142px;
  }

  .tab-box {
    margin-block-end: 5rem;
  }
}

@media (min-width: 1400px) {
  .line {
    left: 172px;
  }
}

@media (min-width: 1500px) {
  .line {
    left: 200px;
  }
}

@media (min-width: 1800px) {
  .line {
    left: 250px;
  }
}

/*-----------------------------------*\
  #TAB CONTENT
\*-----------------------------------*/

.project-list {
  gap: 50px;
}

.project-card {
  gap: 20px;
  display: none;
  animation: moving 0.5s ease;
}

@keyframes moving {
  from {
    tranform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.project-card.active {
  display: grid;
}

.project-card .card-banner {
  position: relative;
  box-shadow: 0 0 0 var(--jet);
}

.project-card .card-content {
  padding-inline: 10px;
}

.project-card .card-content .frontend-link {
  color: #a7b55b;
  font-weight: var(--fw-600);
}

.project-card .btn-icon {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: var(--white);
  color: var(--jet);
  font-size: 2rem;
  padding: 8px;
  border: 2px solid var(--jet);
  opacity: 0;
  transition: var(--transition-1);
}

.project-card .card-banner:is(:hover) .btn-icon {
  transform: translateX(15px);
  opacity: 1;
}

.project-card .chip-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 2rem;
}

.project-card .chip {
  background-color: var(--item-color);
  max-width: max-content;
  color: var(--jet);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 6px 20px;
  border-radius: var(--radius-pill);
}

.chip[data-chip="css"] {
  --item-color: var(--pink-accent_a40);
}

.chip[data-chip="html"] {
  --item-color: var(--maximum-yellow-red_a40);
}

.project-card .card-text {
  margin-block: 10px 25px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media (min-width: 768px) {
  .project-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .project-list > div:nth-child(2n) .card-banner {
    order: 1;
  }

  .project-card > * {
    width: 90%;
    margin-inline: auto;
  }

  .project-card .card-content {
    padding-inline: 0px;
  }

  .project-card .card-text {
    margin-block-start: 20px;
  }
}

@media (min-width: 992px) {
  .project {
    padding-inline: 50px;
  }
}
