/* Components */
@import url("../components/btn.css");
@import url("../components/card.css");

.project {
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
}

.grid-flow {
  display: grid;
}

.project-list {
  gap: 50px;
  padding-inline: 20px;
}

.project-card {
  gap: 5px;
}

.project-card .card-banner {
  position: relative;
  box-shadow: 0 0 0 var(--jet);
}

.project-card .btn-icon {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: var(--white);
  color: var(--jet);
  font-size: 2rem;
  padding: 8px;
  border: 2px solid var(--jet);
  opacity: 0;
  transition: var(--transition-1);
}

.project-card .card-banner:is(:hover) .btn-icon {
  transform: translateX(15px);
  opacity: 1;
}

.project-card .chip {
  background-color: var(--pink-accent_a40);
  max-width: max-content;
  color: var(--jet);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 6px 20px;
  border-radius: var(--radius-pill);
  margin-block-end: 18px;
}

.project-card .card-text {
  margin-block: 10px 25px;
}
