:root {
  /* FONTS */
  --ff-sans: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  /* small, regular, large */
  --fs-400: 0.9375rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-900: 2.5rem;

  /* COLORS */
  --color-neutral-900: hsl(234, 12%, 24%);
  --color-neutral-400: hsl(229, 6%, 66%);
  --color-neutral-100: hsl(0, 0%, 98%);

  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  --gap: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
  color: var(--color-neutral-400);
}

body {
  background-color: var(--color-neutral-100);
  padding-bottom: 6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  color: var(--color-neutral-900);
  line-height: 1.2;
}

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.wrapper--narrow {
  max-width: 550px;
}

header {
  text-align: center;
  margin-block: 6rem;
}

header h1 {
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-light);
}

h1 span {
  font-weight: var(--fw-bold);
}

/* main layout */
.layout-grid {
  display: flex;
  gap: var(--gap);
}

@media (max-width: 800px) {
  .layout-grid {
    flex-direction: column;
  }
}

.layout-grid > * {
  flex: 1;
}

.col {
  display: grid;
  align-content: center;
  gap: var(--gap);
}

.card {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem -0.5rem rgb(0 50 100 / 0.15);
  border-radius: 0.5rem;
  border-top: 0.5rem solid;
}

.border-cyan {
  border-color: var(--color-cyan);
}

.border-red {
  border-color: var(--color-red);
}
.border-orange {
  border-color: var(--color-orange);
}
.border-blue {
  border-color: var(--color-blue);
}

.card h2 {
  font-size: var(--fs-600);
  margin-bottom: 0.7rem;
}

.card p {
  font-size: var(--fs-400);
}

.card img {
  margin-left: auto;
  margin-top: 1.85rem;
}
