@import url("./components/btn.css");
@import url("./components/card.css");
@import url("./components/orbit.css");

/*-----------------------------------*\
  #HERO SECTION
\*-----------------------------------*/
.hero {
  position: relative;
  padding-block-start: calc(var(--section-padding) + 60px);
  text-align: center;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 60%;
  right: -75%;
  background-color: var(--maximum-yellow-red_a40);
  transform: rotate(-35deg);
  border-radius: 60px;
  z-index: -1;
}

.hero::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -25%;
  bottom: 50%;
  right: 25%;
  transform: rotate(-30deg);
  z-index: -10;
  background-color: var(--olive-green_a30);
  border-radius: 60px;
}

.hero .wrapper {
  display: grid;
  gap: 70px;
}

.hero-subtitle {
  color: var(--jet);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 2px;
  margin-block-end: 20px;
}

.hero-subtitle span {
  text-transform: capitalize;
  color: var(--olive-green);
  font-weight: var(--fw-600);
  display: inline-block;
}

.hero-text {
  margin-block: 25px;
}

.hero .btn {
  margin-inline: auto;
}

.hero-banner {
  max-width: max-content;
  margin-inline: auto;
}

/*-----------------------------------*\
  #ABOUT SECTION
\*-----------------------------------*/
.about .wrapper {
  display: grid;
  gap: 30px;
}

.about .section-text {
  margin-block: 25px 16px;
}

.about-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.about-list .list-text {
  color: var(--jet);
  font-weight: var(--fw-500);
}

.about-list .strong {
  color: var(--pink-accent);
  display: block;
}

.about .container {
  margin-block-start: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

/*-----------------------------------*\
  #SKILLS SECTION
\*-----------------------------------*/
.skills {
  padding-block-end: 0;
}

.skills .wrapper,
.skill-list {
  display: grid;
}

.skills .wrapper {
  gap: 50px;
  position: relative;
}

.skill-list {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skills .card ion-icon {
  font-size: 3rem;
}

.skills .card-title {
  color: var(--jet);
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
}

/*-----------------------------------*\
  #CTA & FOOTER SECTION
\*-----------------------------------*/

.cta {
  text-align: center;
  position: relative;
}

.cta .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.cta::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: var(--maximum-yellow-red_a40);
  opacity: 0.45;
  transform: rotate(35deg);
  border-radius: 1rem;
  left: -50px;
  bottom: 20px;
  z-index: -1;
}

.cta::before {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--pink-accent_a40);
  bottom: 80px;
  right: 10px;
  z-index: -10;
}

.cta .title-lg {
  color: var(--jet);
  font-weight: var(--fw-500);
}

/*-----------------------------------*\
  # MEDIA QUERIES
\*-----------------------------------*/
/* larger than 575px */
@media (min-width: 575px) {
  .about-banner,
  .skill-banner,
  .hero-banner,
  .w-100 {
    max-width: max-content;
    margin-inline: auto;
  }

  .cta .wrapper {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  /* Hero */
  .hero-text {
    --fs-18: 2rem;
  }

  .hero::after {
    top: -20%;
    left: 48%;
  }

  .hero::before {
    top: -20%;
    left: -40%;
    bottom: 56%;
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding-inline: 50px;
  }
  /* GRID WRAPPER */
  :is(.hero, .about, .skills) .wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }

  :is(.about-banner, .skill-banner) {
    margin-inline: 0;
  }

  .hero {
    text-align: left;
  }

  .hero-content {
    grid-column-end: span 1;
  }

  .hero::after {
    top: -60%;
  }

  .hero::before {
    left: -30%;
  }

  .hero .btn {
    margin-inline: 0;
  }
}

@media (min-width: 1200px) {
  /* GRID WRAPPER */
  :is(.hero, .about, .skills) .wrapper {
    gap: 50px;
  }

  .about-list {
    gap: 40px;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    max-width: 1300px;
  }

  .hero::before {
    left: -70%;
  }

  .hero::after {
    top: -90%;
  }
}

@media (min-width: 1500px) {
  .hero::after {
    top: -100%;
    left: 70%;
  }

  .hero::before {
    right: 0%;
  }
}
